<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thuypham.ptithcm.mytiki">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".feature.admin.acc.AccountsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.employee.category.CategoriesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.employee.slide.SlidesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.employee.revenue.RevenueActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.employee.profile.ProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.employee.order.OrdersActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.employee.product.ProductsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.employee.main.HomeEmployeeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.authentication.AuthActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.customer.order.OrderDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.customer.address.AddressActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.customer.cart.CartActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.customer.product.ProductOfCategoryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.customer.product.FavoriteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.customer.product.ProductDetailActivity"
            android:parentActivityName=".feature.customer.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.customer.main.MainActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".feature.customer.order.OrderActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".feature.customer.user.EditProfileActivity"
            android:screenOrientation="fullSensor" />

        <service
            android:name=".services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorBlueDark" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

    </application>

</manifest>